.tableWrapper {
    position: relative;
}

.loaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
}

.paginationRow {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 24px;
    gap: 16px;
}